.login-form {
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 10%;    
}

.login-form-text {
    text-decoration: none;
    padding-left: 20px;
}

.signup-form {
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 5%;   
}